
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f31f'; } /* '' */